/* Wrapper around Header, Content and Footer */
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.loading-spinner {
    opacity: 0.5 !important;
    filter: blur(1px) !important;
}

.spinner {
    position: absolute;
    padding: 4rem;
    background-color: black;
    top: 50%;
    left: 50%;
    margin-left: -4.5rem;
    margin-top: -4.5rem;
    box-shadow: 2px 2px 3px rgb(232,232,232), -2px -2px 3px rgb(232,232,232), -2px 2px 3px rgb(232,232,232), 2px -2px 3px rgb(232,232,232);
}

.album-cover {
    box-shadow: 2px 2px 3px rgb(232,232,232), -2px -2px 3px rgb(232,232,232), -2px 2px 3px rgb(232,232,232), 2px -2px 3px rgb(232,232,232);
}
.album-teaser-content {
    margin: 2rem;
}
.album-teaser-title {
    font-family: Consolas;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 15px;
    font-size: 3rem;
}
.grand-paragraph {
    margin: 1.25rem 0;
    font-size: 25px;
    letter-spacing: 15px;
    text-align: center;
}
.spinner img {
    max-width: 5rem;
}

/* Wrapper around content should have flex-grow 1*/
.content-wrapper {
    flex-grow: 1;
}

/* Container for all templates to be shown (inside content-wrapper)*/
#page-container {
    background-color: black;
    margin-top: 10rem;
    box-shadow: 2px 2px 3px rgb(232,232,232), -2px -2px 3px rgb(232,232,232), -2px 2px 3px rgb(232,232,232), 2px -2px 3px rgb(232,232,232);
}

.inside-page-container {
    padding: 3rem !important;
}

/* Footer */
#footer {
    width: 100%;
    height: 5rem;/* Footer height */
    color: black;
    /*background-color: #c9c9c9;*/
    background-color: black;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Color Spaces for Footer*/
.color-space {
    min-width: 100%;
    min-height: 10px;
}
.color-space div {
    flex-grow: 1;
}
.color-space .white {background-color: #FFFFFF;}
.color-space .yellow {background-color: #ffff00;}
.color-space .antiqueblue {background-color: #00ffff;}
.color-space .green {background-color: #00fe00;}
.color-space .pink {background-color: #ff01ff;}
.color-space .red {background-color: #ff0101;}
.color-space .blue {background-color: #0000fe;}
.color-space .black {background-color: #010101;}

/* NAVBAR */
.navbar-custom {
    width: 100vw;
    margin: 0;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 1035;
}

/* Image to select start page of Home Page*/
.home-image {
    position: absolute;
    left: 0;
    cursor: pointer;
    /*font-style: italic;*/
    /*font-weight: bold;*/
    font-weight: lighter;
    letter-spacing: 25px;
    font-size: 35px;
    font-family: Magneto;
}

.navbar-custom .navbar-nav {
    width: 100%;
}

.navbar-custom .navbar-nav .nav-link {
    color: rgb(244, 236, 235);
    min-height: 30px;
    border-top: 1px solid transparent; /* for hovering of nav-links*/
    border-bottom: 1px solid transparent; /* for hovering of nav-links */
    -o-transition: border-top 0.2s ease-in, border-bottom 0.2s ease-in, color 0.2s ease-in, background-color 0.2s ease-in, font-style 0.2s ease-in;
    -ms-transition: border-top 0.2s ease-in, border-bottom 0.2s ease-in, color 0.2s ease-in, background-color 0.2s ease-in, font-style 0.2s ease-in;
    -moz-transition: border-top 0.2s ease-in, border-bottom 0.2s ease-in, color 0.2s ease-in, background-color 0.2s ease-in, font-style 0.2s ease-in;
    -webkit-transition: border-top 0.2s ease-in, border-bottom 0.2s ease-in, color 0.2s ease-in, background-color 0.2s ease-in, font-style 0.2s ease-in;
}

.navbar-custom .navbar-nav  .nav-link {
    margin: 0;
    padding: 0;
    height: inherit;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 7px;
    cursor: pointer;
    min-width: 140px;
    max-width: 140px;
}

.navbar-custom .navbar-nav .nav-link:hover, .navbar-custom .navbar-nav .nav-link:focus {
    color: rgb(94, 132, 155);
    border-top: 1px solid rgb(232,232,232);
    border-bottom: 1px solid rgb(232,232,232);
    background-color: black;
    font-style: italic;
}

.navbar-custom .navbar-nav .show > .nav-link,
.navbar-custom .navbar-nav .active > .nav-link,
.navbar-custom .navbar-nav .nav-link.show,
.navbar-custom .navbar-nav .nav-link.active {
    color: rgb(198, 127, 175);
    border-top: 1px solid rgb(232,232,232);
    border-bottom: 1px solid rgb(232,232,232);
    background-color: black;
}

.bg-custom {
    background-color: rgba(169, 44, 125, 0) !important;
    -o-transition: background-color 0.8s ease-in, box-shadow 0.8s ease-in;
    -ms-transition: background-color 0.8s ease-in, box-shadow 0.8s ease-in;
    -moz-transition: background-color 0.8s ease-in, box-shadow 0.8s ease-in;
    -webkit-transition: background-color 0.8s ease-in, box-shadow 0.8s ease-in;
}

#navbarSupportedContent {
    font-family: Consolas;
}

.opacity-and-background {
    background-color: rgba(169, 44, 125, 1) !important;
    box-shadow: 2px 2px 5px rgb(232,232,232);
}

#teaser {
    min-height: calc(100vh - 5vh - 5rem - 30px);
}

.headerPlaceholder {
    min-height: 15vh;
}

.title, .fheader {
    color: rgb(232,232,232);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-style: italic;
    box-shadow: 0px 2px 3px rgb(232,232,232);
    font-family: Consolas;
 }

.inner, .fheader {
    background-color: black !important;
    color: rgb(232,232,232) !important;
}

.inner {
    margin: 0 !important;
    width: 100% !important;
}

/* Default Form Values*/
#contactForm div.form-group label {
    flex-basis: 20%;
}
div.form-group label:not(.container-checkbox) {
    flex-basis: 20%;
}
.smaller-width {
    width: 20rem;
}
.form-control {
    border-radius: 0 !important;
    background-color: transparent;
    color: rgb(232,232,232) !important;
    font-family: Consolas !important;
    letter-spacing: 2px !important;
}
.form-control:focus {
    color: rgb(198, 127, 175) !important;
    border-color: rgba(103, 147, 173, 0.73);
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(103, 147, 173, 0.73);
    background-color: black;
}

/* BUTTON PRIMARY */
.btn {
    border-radius: 0 !important;
    font-family: Consolas !important;
    letter-spacing: 2px !important;
}
.btn-primary {
    border: 2px solid rgb(198, 127, 175) !important;
    background-color: transparent !important;
    color: rgb(198, 127, 175) !important;
    font-weight: bold;
    text-transform: uppercase;
    -o-transition: background-color 0.2s ease-in, border 0.2s ease-in, color 0.2s ease-in;
    -ms-transition: background-color 0.2s ease-in, border 0.2s ease-in, color 0.2s ease-in;
    -moz-transition: background-color 0.2s ease-in, border 0.2s ease-in, color 0.2s ease-in;
    -webkit-transition: background-color 0.2s ease-in, border 0.2s ease-in, color 0.2s ease-in;
}
.btn-primary:hover, .btn-primary:focus {
    border: 2px solid rgb(94, 132, 155) !important;
    color: rgb(94, 132, 155) !important;
    background-color: rgba(201, 201, 201, 0.3) !important;
    box-shadow: none !important;
    font-style: italic;
}

/* Links */
a {
    color: rgb(232,232,232);
}
a:hover {
    color: rgb(198, 127, 175);
    text-decoration: underline;
}

/* CUSTOM CHECKBOX */
/* Customize the label (the container) */
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid rgb(232,232,232);
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
    background-color: rgb(232,232,232);
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
    border: 2px solid rgb(94, 132, 155);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid rgb(198, 127, 175);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#sizesContainer {
    display: inline;
}
#sizesContainer div{
    min-width: 150px;
}
.article-entry {
    margin: 2rem;
}

.subtitle {
    font-weight: bold;
    font-style: oblique;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 1.5rem;
    margin: 1rem 0;
    color: rgba(236, 155, 208, 1);
}
.subtitle-2 {
    font-style: oblique;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 2rem;
    margin: 1.5rem 0;
    color: rgb(232,232,232);
}

.liveShow-date {
    text-align: end;
    padding: 0 1rem 0 0;
    width: calc(100% * (1/3));
}
.liveShow-venue {
    text-align: center;
    padding: 0 1rem;
    border-right: 0.5px solid rgba(236, 155, 208, 1);
    border-left: 0.5px solid rgba(236, 155, 208, 1);
    color: rgba(236, 155, 208, 1);
    font-style: italic;
    width: calc(100% * (1/3));
}
.liveShow-city {
    width: calc(100% * (1/3));
    padding: 0 0 0 1rem;
}
.liveShowEntry {
    padding: 1rem 0;
}
.liveShowEntry.borderClass {
    border-top: 0.5px solid rgb(232,232,232);
    border-bottom: 0.5px solid rgb(232,232,232);
}
#imagesContainer .image-display-field {
    margin: 2rem 2rem;
    max-width: 250px;
}
#imagesContainer {
    flex-basis: 80%;
}

.remove-link:focus, .remove-link:hover {
    cursor: pointer;
    color: rgb(198, 127, 175) !important;
    text-decoration: underline !important;
}
.article-list .article-entry{
    width: calc(33% - 4rem);
}
.article-title{
    font-size: large;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 0 !important;
}
.article-description {
    font-style: italic;
    font-size: small;
}
.article-price {
    font-weight: bold;
    font-size: large;
}
.page-info {
    letter-spacing: 4px;
    font-style: italic;
    font-weight: bold;
}
.response {
    font-size: 1rem !important;
}
.height-equal-to-width {
    position: relative;
    width: 100%;
    padding-top: 100%;
}
.shop-image {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.album-button {
    min-width: 150px;
    max-width: 150px;
    margin: 2rem;
    font-size: 20px;
    letter-spacing: 6px !important;
}

.card {
    background-color: black;
    border: 0px;
    border-bottom: 1px solid rgba(236, 155, 208, 1);
    border-top: 1.5px solid rgba(236, 155, 208, 1);
    border-radius: 0px !important;
}
.song-artwork, .album-artwork {
    max-width: 300px;
}
.song-lyrics {
    /* TODO  */
}
.btn-link-custom {
    color: rgb(232,232,232);
    font-size: 1.1rem;
    letter-spacing: 10px;
    text-transform: uppercase;
    -o-transition: font-style 0.2s ease-in, border 0.2s ease-in, color 0.2s ease-in;
    -ms-transition: font-style 0.2s ease-in, border 0.2s ease-in, color 0.2s ease-in;
    -moz-transition: font-style 0.2s ease-in, border 0.2s ease-in, color 0.2s ease-in;
    -webkit-transition: font-style 0.2s ease-in, border 0.2s ease-in, color 0.2s ease-in;
}
.btn-link-custom:focus, .btn-link-custom:hover {
    box-shadow: 0px 0px 0px !important;
    color: rgba(236, 155, 208, 1);
    font-style: italic;
}

/*xl*/
@media (max-width: 1399px) {
    .navbar-custom {
        height: 6vw;
    }
}
/*lg*/
@media (max-width: 1199px) {
    .navbar-custom {
        height: 8vw;
    }
    .article-entry {
        margin: 1.5rem !important;
        width: calc(33% - 3rem) !important;
    }
}
/*md*/
@media (max-width: 991px) {
    .song-artwork {
        max-width: 220px;
    }
    .article-entry {
        margin: 1.5rem !important;
        width: calc(50% - 3rem) !important;
    }
    .liveShow-date, .liveShow-venue {
        text-align: unset !important;
    }
}
/*sm*/
@media (max-width: 767px) {
    .song-lyrics {
        align-self: start !important;
        padding: 1.5rem 0 0 0;
    }
    /* Contact Template */
    .smaller-width {
        width: 100% !important;
    }
    .article-entry {
        margin: 0.5rem !important;
        width: calc(50% - 1rem) !important;
    }
    .liveShow-venue {
        border-right: unset !important;
        border-left:  unset !important;
    }
    .liveShow-date, .liveShow-venue, .liveShow-city {
        padding: 0 !important;
    }

}
/*xs*/
@media (max-width: 575px) {
    .album-teaser-content, .album-teaser-content p, .album-teaser-content div, .album-teaser-content h2 {
        max-width: 100%;
    }
    .album-button {
        margin: 0.5rem;
        max-width: 125px;
        min-width: 125px;
    }
    .inside-page-container {
        padding: 2rem !important;
    }
    .article-entry {
        margin: 1rem 0 !important;
        width: 100% !important;
    }
    .article-carousel {
        min-width: 80%;
        max-width: 80%;
    }
    .article-data {
        margin: 0 1rem;
        min-width: 80%;
        max-width: 80%;
    }
}

@media (max-width: 425px) {
    .album-button-first {
        margin-right: 1rem !important;
    }
    .album-artwork {
        max-width: 65vw;
    }
    .album-button {
        margin: 0;
    }
    .article-carousel {
        min-width: 100%;
        max-width: 100%;
    }
    .article-data {
        margin: 0 1rem;
        min-width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 410px) {
    .song-artwork {
        max-width: 50vw;
    }
    .album-teaser-title {
        font-size: 2.5rem;
        letter-spacing: 12px;
    }
    .album-buttons {
        flex-direction: column;
    }
    .album-button {
        margin: 0.5rem;
        max-width: 125px;
        min-width: 125px;
    }
}

@media (max-width: 360px) {
    .album-teaser-title {
        letter-spacing: 4px;
    }
}